<template>
  <q-page class="flex flex-center" >
    <div class="q-pa-lg flex flex-center" style=" width: 500px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; border-radius: 20px">
      <q-form
        v-if="currentForm === 1"
        ref="resetValidation"
        style="color: black"
      >
        <h5 class="text-center text-dark q-ma-md">ADD USER FORM</h5>
        <q-input
          class="q-mb-md"
          filled="color: black"
          v-model="form.name"
          label="Full Name"
          style="width: 300px"
          dense
          color="black"
          :rules="[(val) => !!val || 'Required to fill.']"
        >
        </q-input>
        <q-input
          class="q-mb-md"
          filled="color: black"
          v-model="form.username"
          label="Username"
          style="width: 300px"
          dense
          color="black"
          :rules="[(val) => !!val || 'Required to fill.',val => val.length >=8 || 'Usename must be at least 8 characters']"
        >
        </q-input>
        <q-input
          class="q-mb-md"
          filled="color: black"
          v-model="form.email"
          label="Email"
          style="width: 300px"
          dense
          color="black"
          :rules="[(val) => !!val || 'Required to fill.',(val) => /@gmail.com$/.test(val) || 'Input must end with @gmail.com.']"
        >

        </q-input>
        <q-input
          class="q-mb-md"
          filled="color: black"
          type="number"
          v-model="form.phone"
          label="Phone Number"
          style="width: 300px"
          dense
          color="black"
          :rules="[,(val) => !!val || 'Required to fill.',(val) => /^09\d{9}$/.test(val) || 'Phone number must start with 09 and be 11 digits.']"
        >

        </q-input>
        <q-input
          class="q-mb-md"
          filled="color: black"
          v-model="form.website"
          label="Website"
          style="width: 300px"
          dense
          color="black"
          :rules="[, (val) => !!val || 'Required to fill.',(val) => /\.pixel8$/.test(val) || 'Website name must end with .pixel8']"
        >

        </q-input>
        <div class="text-center">
          <q-btn
            class="q-mb-md"
            label="Next"
            color="primary"
            style="width: 100px"
            push
            @click="currentForm = 2"
          />
        </div>
      </q-form>
      <q-form v-if="currentForm === 2" ref="resetValidation">
        <h5 class="text-center text-dark q-ma-md">ADD USER FORM</h5>
        <q-input
          class="q-mb-md"
          filled="color: black"
          v-model="form.address.street"
          label="Street"
          style="width: 300px"
          dense
          color="black"
          :rules="[(val) => !!val || 'Required to fill.']"
        >

        </q-input>
        <q-input
          class="q-mb-md"
           filled="color: black"
          v-model="form.address.suite"
          label="Suite"
          style="width: 300px"
          dense
          color="black"
          :rules="[(val) => !!val || 'Required to fill.']"
        >

        </q-input>
        <q-input
          class="q-mb-md"
          filled="color: black"
          v-model="form.address.city"
          label="City"
          style="width: 300px"
          dense
          color="black"
          :rules="[(val) => !!val || 'Required to fill.']"
        >

        </q-input>
        <q-input
          class="q-mb-md"
          filled="color: black"
          type="number"
          v-model="form.address.zipcode"
          label="Zip Code"
          style="width: 300px"
          dense
          color="black"
          :rules="[(val) => !!val || 'Required to fill.']"
        >
        </q-input>


        <div class="text-center">
          <q-btn
            label="Back"
            color="dark"
            style="width: 100px; margin-right: 20px"
            push
            @click="currentForm = 1"
          />
          <q-btn
            label="Next"
            color="primary"
            style="width: 100px"
            push
            @click="currentForm = 3"
          />
        </div>
      </q-form>
      <q-form v-if="currentForm === 3" ref="resetValidation">
        <h5 class="text-center text-dark q-ma-md">ADD USER FORM</h5>
        <q-input
          class="q-mb-md"
          filled="color: black"
          v-model="form.company.name"
          label="Company Name"
          style="width: 300px"
          dense
          color="black"
          :rules="[(val) => !!val || 'Required to fill.']"
        >

        </q-input>
        <q-input
          class="q-mb-md"
         filled="color: black"
          v-model="form.company.catchPhrase"
          label="Catch Phrase"
          style="width: 300px"
          dense
          color="black"
          :rules="[(val) => !!val || 'Required to fill.']"
        >

        </q-input>
        <q-input
          class="q-mb-md"
          filled="color: black"
          v-model="form.company.bs"
          label="BS"
          style="width: 300px"
          dense
          color="black"
          :rules="[(val) => !!val || 'Required to fill.']"
        >

        </q-input>
        <div class="text-center">
          <q-btn
            label="Back"
            color="dark"
            style="width: 100px; margin-right: 20px"
            push
            @click="currentForm = 2"
          />
          <q-btn
            label="SUBMIT"
            color="secondary"
            style="width: 100px"
            push
            @click="onSubmit(), showNotif()"
          />
        </div>
      </q-form>
    </div>
  </q-page>
</template>

<script>
import { ref } from "vue";
import { useQuasar } from "quasar";
import { addUserData } from "../composables/data";
let form = ref({
  id: null,
  name: null,
  username: null,
  email: null,
  address: {
    street: null,
    suite: null,
    city: null,
    zipcode: null,
    geo: {
      lat: null,
      lng: null,
    },
  },
  phone: null,
  website: null,
  company: {
    name: null,
    catchPhrase: null,
    bs: null,
  },
});

export default {
  setup() {
    let resetValidation = ref(null);
    let currentForm = ref(1);


    const onSubmit = () => {
      currentForm.value = 1;
      addUserData();
    };

    return {
      resetValidation,
      form,
      onSubmit,
      currentForm,
      addUserData,


    };
  },
};

export { form };
</script>

<style></style>
